
.launch {
    font-family: 'Impact';
    color: Snow;
    text-shadow: 0px 5px 10px #05fff9;
    font-weight: bold;
    font-size: 1.75em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

a {
    font-family: 'Impact';
    color: aqua;
    text-shadow: 0px 5px 10px #ffffff;
    font-weight: bold;
    text-align: center;
}



h3 {
    font-family: 'Impact';
    color: Snow;
    font-weight: bold;
    display: inline;
    font-size: 1em;
    margin-left: 0.25em;
    margin-left: 0.5em;
}

p {
    font-family: 'Andale Mono';
    color: Snow;
    display: inline;
    font-size: 0.75em;
    margin-left: 0.5em;
}

h4 {
    font-family: 'Impact';
    color: Snow;
    font-weight: bold;
    display: inline;
    font-size: 1em;
    margin-left: 0.5em;
}

ul {
    font-family: 'Andale Mono';
    color: Snow;
    display: inline;
    font-size: 0.75em;
    margin-left: 0.5em;
}

h5 {
    font-family: 'Impact';
    color: Snow;
    font-weight: bold;
    display: inline;
    font-size: 1em;
    margin-left: 0.25em;
    margin-left: 0.5em;
}

ol {
    font-family: 'Andale Mono';
    color: Snow;
    display: inline;
    font-size: 0.75em;
    margin-left: 0.5em;
    padding-left: 5px;
}

h6 {
    font-family: 'Impact';
    color: Snow;
    font-weight: bold;
    display: inline;
    font-size: 2em;
    margin-left: 0.25em;
}

.stats {
    background-color: transparent;
    border-top: 7px outset #30e4ff;
    border-right: 7px outset #30e4ff;
    border-bottom: 7px outset #30e4ff;
    border-left: 7px outset #30e4ff;
    -webkit-box-shadow: 0px 0px 5px 5px #ffffff;
    -moz-box-shadow: 0px 0px 5px 5px #ffffff;
    box-shadow: 0px 0px 5px 5px #ffffff;
    position: absolute;
    bottom: 0;
    right: 5px;
    min-width: 150px;
    min-height: 100px;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 500px;
    max-height: 250px;
    font-family: 'Impact';
    color: snow;
    text-shadow: 0px 5px 10px #ffffff;
    font-weight: bold;
    text-align: inline;
}



.button:hover {
    background: rgb(58, 249, 102);
}



