body{
    background: url("../images/starry-sky-1655503.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    position: 100% 0%;
}
   
h1 
    {
    font-family: 'Impact';
    color: Snow;
    font-weight: bold;
    display:inline;
    text-shadow:0px 5px 10px #05fff9;
    font-size: 3em;
    margin-left: 0.25em;
    margin-right: 0;
    
    }
span
{
    font-family: 'Impact';
    color: aqua;       
    font-weight: bold;
    display:inline;
    text-shadow:0px 5px 10px #ffffff;
    font-size: 1em;
    margin-left: 0.25em;
    margin-right: 0;
}
h2{
    font-family: 'Impact';
    color: Snow;
    text-shadow:0px 5px 10px #05fff9;
    font-weight: bold;
    border-top: -50px;
    font-size: 2em;
    margin-left: 0.25em;
    text-align: inline;
    position: absolute;
   
}
.fire{
    font-family: 'Impact';
    color: greenyellow;
    text-shadow:0px 5px 10px #ffffff;
    font-size: 1em;
    font-weight: bold;
    text-align: left;
}

.volume {
    position: absolute;
    top: 8px;
    right: 16px;
    cursor:pointer;
    font-family: 'Impact';
    font-display: bold;
    color: Snow;
    text-align: right;
    border: none;
}