body{
    background: url("../images/starry-sky-1655503.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    position: 100% 0%;
}
   
h1 
    {
    font-family: 'Impact';
    color: Snow;
    font-weight: bold;
    display:inline;
    text-shadow:0px 5px 10px #05fff9;
    font-size: 3em;
    margin-left: 0.25em;
    margin-right: 0;
    
    }
span
{
    font-family: 'Impact';
    color: aqua;       
    font-weight: bold;
    display:inline;
    text-shadow:0px 5px 10px #ffffff;
    font-size: 1em;
    margin-left: 0.25em;
    margin-right: 0;
}
h2{
    font-family: 'Impact';
    color: Snow;
    text-shadow:0px 5px 10px #05fff9;
    font-weight: bold;
    border-top: -100px;
    font-size: 2.75em;
    margin-left: 0.25em;
    text-align: inline;
    position: absolute;
}


.volume {
    position: absolute;
    top: 8px;
    right: 16px;
    cursor:pointer;
    font-family: 'Impact';
    font-display: bold;
    color: Snow;
    text-align: right;
    border: none;
}

.gid {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }


h3 
    {
    font-family: 'Impact';
    color: Snow;
    font-weight: bold;
    display:inline;
    text-shadow:0px 5px 10px #05fff9;
    font-size: 2.75em;

    position: absolute;
    bottom: 0px;
    right: 16px;
    }
span
{
    font-family: 'Impact';
    color: aqua;       
    font-weight: bold;
    display:inline;
    text-shadow:0px 5px 10px #ffffff;
    font-size: 1em;
}

.gridImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

  }


.volume {
    position: absolute;
    top:0px;
    right:0px;
    cursor:pointer;
    font-family: 'Impact';
    font-display: bold;
    display:inline;
    color: Snow;
    text-align: inline;
    border: none;

    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 120px;
    padding-right: 30px;
    padding-top: 30px;


    
}

.image1{
    /*position: inline;*/
    /*transform:matrix(0.30,0.00,0.00,0.30,0,0);*/
    /*-ms-transform:matrix(0.30,0.00,0.00,0.30,0,0);*/
    /*-webkit-transform:matrix(0.30,0.00,0.00,0.30,0,0);*/
    width: 60px;
}

.caption {
display: block;
}


.setup{
    background-color: transparent;
    border-top:7px outset #30e4ff;
    border-right:7px outset #30e4ff;
    border-bottom:7px outset #30e4ff;
    border-left:7px outset #30e4ff;
    -webkit-box-shadow:0px 0px 5px 5px #ffffff ;
    -moz-box-shadow:0px 0px 5px 5px #ffffff ;
    box-shadow:0px 0px 5px 5px #ffffff ;

    position: absolute;
    bottom: 300px;
    left: 20px;
    min-width: 50px;
    min-height: 100px;
    max-width: 425px;
    max-height: 400px;
  }
  h4
  {
    font-family: 'Impact';
    color: Snow;
    font-weight: bold;
    display:inline;
    font-size: 2em;
    margin-left: 0.25em;
    margin-left: 0.5em;
  }
  p{
    font-family: 'Andale Mono';
    color: Snow;
    display:inline;
    font-size: 1em;
    margin-left: 0em;
   
  }

  h5
  {
    font-family: 'Impact';
    color: Snow;
    text-shadow:0px 5px 10px #05fff9;
    font-weight: bold;
    position: absolute;
    top: 300x;
    left: 1200px;
    font-size: 2em;
    transform: translate(-50%, -50%); 
   
  }


  .image2{
    position: absolute;
    cursor:pointer;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%); 
}
.image3{
    position: absolute;
    cursor:pointer;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);   
}
.image4{
    position: absolute;
    cursor:pointer;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);    
}
.image5{
    width: 55px;
    height: auto;
    position: absolute;
    cursor:pointer;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}
.image6{
    width: 55px;
    height: auto;
    position: absolute;
    cursor:pointer;
    top: 70%;
    left: 80%;
    transform: translate(-50%, -50%); 
}
